<h1>Destination Detail</h1>

<h3>Destination Name: @ViewBag.SelectedDestination.Name</h3>

<h3> <img src="@ViewBag.SelectedDestination.ImgURL" alt="image Url" class="img-fluid"></h3>

<h3>Description: @ViewBag.SelectedDestination.Description</h3>

<h3>Tourism Type: @ViewBag.SelectedDestination.Type</h3>



