@model List<Destination>

<div class="row">
    <div class="col-md-8 text-center" >
        <h1>Welcome, @Context.Session.GetString("UserName")</h1>
    </div>
    <div class="col-md-4 text-right"><a asp-action="Logout" asp-controller="Home">Logout</a></div>
</div>
@{
    foreach (Destination destination in Model)
    {
        <div class="card" style="width: 36rem;">
            <a asp-action="/destination/@destination.DestinationId" asp-controller="Home"><img src="@destination.ImgURL" alt="image of destination" class="card-img-top"></a>
            <div class="card-body">
                <a asp-action="/destination/@destination.DestinationId" asp-controller="Home"><p class="card-text">@destination.Name</p></a>
            </div>

        </div>
    }
}